{% extends 'blogapp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Share a post {% endblock %}

{% block content %}

<div class="blog-post">
    <h2 class="blog-post-title"> {{post.title}} </h2>
    {% if sent %}
    <h3>
        E-mail successfully sent
    </h3>
    <p class="blog-post-meta">"{{post.title}}" was successfully sent to {{form.cleaned_data_to}}.</p>
    {% else %}
    <h3>Share "{{post.title}}" by e-mail </h3>

    <form action="" method="post">
        {{form|crispy}}
        {% csrf_token %}
        <input type="submit" value="Send e-mail">
    </form>
    {% endif %}
</div>

{% endblock %}